:root {
  --height-header: 64px;
  --height-footer: 70px;
}

.site-layout-content {
  --top: 50px;
  margin-top: calc(var(--top) + var(--height-header) - 20px);
  min-height: calc(100vh - var(--height-header) - var(--height-footer) - var(--top));
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.image-wrapper {
  min-height: 160px;
  max-width: 160px;
  display: flex;
}
.image-fit {
  display: block;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.ant-layout-header,
.header-bg {
  background-color: antiquewhite;
}

.text-center {
  text-align: center;
}
div.ant-typography {
  text-indent: 1rem;
  font-size: 16px;
}